
Vtex\.ShoppingCart/Vtex\.ShoppingCart/bin/

Vtex\.ShoppingCart/Vtex\.ShoppingCart/obj/

Vtex\.ShoppingCart/Vtex\.ShoppingCart\.Service\.Test/obj/

Vtex\.ShoppingCart/\.vs/Vtex\.ShoppingCart/v14/\.suo

Vtex\.ShoppingCart/Vtex\.ShoppingCart\.Repository/bin/

Vtex\.ShoppingCart/Vtex\.ShoppingCart\.Repository/obj/

Vtex\.ShoppingCart/Vtex\.ShoppingCart\.Service/bin/

Vtex\.ShoppingCart/Vtex\.ShoppingCart\.Service/obj/

Vtex\.ShoppingCart/Vtex\.ShoppingCart\.Service\.Test/bin/

Vtex\.ShoppingCart/packages
Vtex\.ShoppingCart/\.vs/config/applicationhost\.config
